venv/
backend/venv/
.env
backend/.env
backend/.envcd
__pycache__/
backend/__pycache__/
*.pyc
.DS_Store
.claude/settings.local.json
.superpowers/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
